---
title: "Sticks & Stones - Choose a avatar"
---

<div class="aligner">
    <div class="aligner-item--fixed">

        <div class="row">
            <div class="col-xs-1">&nbsp;</div>
            <div class="col-xs-10">
                <div class="row text-middle">
                    <h1>Meet our extraterrestrial friends!</h1>
                    <p class="intro">Pick one to take you on your journey</p>
                </div>
                <div class="row">
                    <% data.signupData.avatars.each do |avatar| %>
                        <div class="col-xs-4">
                            <%= partial("partials/buttons/avatarBtn", :locals => avatar) %>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="col-xs-1">&nbsp;</div>
        </div>

    </div>
</div>