---
title: "Sticks & Stones - Choose a school"
---

<div class="aligner">
    <div class="aligner-item--fixed">

        <div class="row" style="margin-bottom: 30px;">
            <h1>Which school do you go to?</h1>
        </div>

        <div class="row">
            <div class="col-xs-1">&nbsp;</div>
            <div class="col-xs-10 text-middle">

                <div class="search-group">
                    <input type="text" class="form-control" placeholder="Search for..." id="txtSearch">
                    <!-- image in here -->
                    <span class="search-icon"></span>
                    <!-- <span class="glyphicon glyphicon-search" aria-hidden="true"></span> -->
                    <!-- <span class="search-button"></span> -->
                </div>

                <div class="schools-container">
                    <ul id="results" class="schools"></ul>
                    <div id="message">

                    </div>
                </div>
            </div>
            <div class="col-xs-1">&nbsp;</div>
        </div>
    </div>
</div>
        <script>
            // References the ul
            var $results = $("#results");
            var $message = $("#message");

            // Populate the array from the data.yml
            var schools = [
                <% data.leaderboardData.schoolsData.each do |sch| %>
                { name: "<%= sch.name %>"},
                <% end %>
            ];

            // References the input field
            $("#txtSearch").on("keyup", function(){
                $results.empty();
                $message.empty();

                var results = [];
                for (var i = 0; i < schools.length; i++){
                    if (schools[i].name.toLowerCase().indexOf($(this).val().toLowerCase()) >= 0){
                        results.push(schools[i]);
                    }
                }

                // Append the results
                $.each(results, function(i, sch){
                    $results.append("<li><a href='/dashboard.html'>" + sch.name + "</a></li>");
                });

                // Display a message if there are no schools found
                if (results.length == 0){
                    $results.empty();
                    $message.append("<p class=\"no-results\">No results found.</p>");
                }

                // Empty the list once the user clear the text field
                if ($(this).val() == ""){
                    $results.empty();
                }
            });
        </script>
