<div class="avatar-item">
    <div class="media">
        <img src="<%= locals[:imagePath] %>" />
    </div>
    <a href="/start/chooseSchool.html" class="btn btn-lg btn-primary">
        <%= locals[:name] %>
    </a>
</div>

