.gallery {
    position:relative;
    display:block;
    min-height: 200px;
    list-style: none;
}

/*.gallery > li {*/
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
    /*margin:0;*/
    /*padding:0;*/
/*}*/

.schools-container {
    padding: 20px 0;
}

.schools {
    border-radius: 15px;
    overflow: hidden;
    padding-left: 0px;
    list-style: none;

    text-align: left;
}

#results li {
    background-color: white;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
}

#results a {
    color: black;
}

.search-group {
    position: relative;
}

.input-group {
    border-radius: 40px;
    padding: 5px;
    background-color: white;
    margin-top: 50px;
}

.search-icon {
    position:absolute;
    right: 0;
    top: 2px;
    background-image: url("/images/searchIcon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    background-color: white;
    padding: 15px;
    padding-right: 30px;
    display: table-cell;
    border-radius: 20px;

    border:none;
}

.form-control {
    border:none;
    border-radius: 20px;

    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
         -o-transition: none;
            transition: none;
}

.leader-table {
    color: black;
    font-family: 'Circular Std';
}

/*.table-striped {
    border-spacing: 50px;
}*/



.table-striped {
    border-collapse:separate;
    border-radius:10px;
    /*-moz-border-radius:60px;
    -webkit-border-radius: 50px;*/

    overflow:hidden;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ffffff;
}
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #ececec;
}

.table-striped > td, th {
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #1792a0;

    /*background-color: blue;
    border-top: none;*/
}

.table-striped > th, td {
    padding: 30px;

    /*border-left:solid black 1px;
    border-top:solid black 1px;*/
}
