@font-face {
    font-family: 'Circular Std';
    src: url('/fonts/CircularStd-Medium.eot');
    src: url('/fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CircularStd-Medium.woff') format('woff'),
    url('/fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/fonts/CircularStd-Bold.eot');
    src: url('/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CircularStd-Bold.woff') format('woff'),
    url('/fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('/fonts/CircularStd-Book.eot');
    src: url('/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CircularStd-Book.woff') format('woff'),
    url('/fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std Black';
    src: url('/fonts/CircularStd-Black.eot');
    src: url('/fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CircularStd-Black.woff') format('woff'),
    url('/fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/*
.demo-0 {
    font-family: 'Circular Std';
    font-weight: 500;
    font-style: normal;
}
.demo-1 {
    font-family: 'Circular Std';
    font-weight: bold;
    font-style: normal;
}
.demo-2 {
    font-family: 'Circular Std Book';
    font-weight: normal;
    font-style: normal;
}
*/


html {
    height:100%;
}

body {
    height:100%;
    color:#caf2fb;
}

.wrapper {
    height: 100%;
    overflow: hidden;
    padding-top:40px;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1695a3+0,3b4057+100 */
    background: #1695a3; /* Old browsers */
    background: -moz-linear-gradient(#1695a3 0%, #1695a3 10%, #3b4057 83%, #3b4057 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(#1695a3 0%,  #1695a3 10%, #3b4057 83%, #3b4057 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(#1695a3 0%,  #1695a3 10%, #3b4057 83%, #3b4057 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#main {
    height: 100%;
}

/*v*/

body.dashboard #main {
    height: auto;
}

body.dashboard .wrapper,
body.leaderboard .wrapper{
    min-height: 30em;
    height: auto;
    padding-bottom: 60px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1695a3+0,3b4057+100 */
    background: #1695a3; /* Old browsers */
    background: -moz-linear-gradient(#93acbb 0%, #caf2fb 25%, #caf2fb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(#93acbb 0%, #caf2fb 25%, #caf2fb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(#93acbb 0%, #caf2fb 25%, #caf2fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


/* HIDE NAV ON THESE PAGES */

.index .navbar-nav,
.index .navbar-header,
.start .navbar-nav {
    display: none;
}

.index .navbar-right,
.start .navbar-right{
    display: block;
}



/*  ALIGNER */

.aligner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.aligner-item--fixed {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.aligner-item {
    max-width: 50%;
}

.aligner-item--top {
    align-self: flex-start;
}

.aligner-item--bottom {
    align-self: flex-end;
}

.text-middle {
    text-align: center;
}

/*  NAVIGATION */

.navbar-default {
    background: none;
    border:0 none !important;
    box-shadow: none;
}

.navbar-default.fill {
    background: #93acbb;
    background: rgba(149,174,189,0.9);
    border:0 none !important;
}

.navbar-brand,
.navbar-nav > li > a {
    text-shadow: none;
}

.navbar-brand img {
    max-width:70px;
    margin-top:8px;
}

.navbar-default .navbar-nav > li {
    padding:10px 0;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Circular Std Black';
    font-weight: 900;
    font-style: normal;
    color:#fff;
    text-transform: none;
    padding-right:30px;
    padding-left:30px;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:hover,
.navbar-nav > li > a.active:active {
    background:#869cab;
    border-radius: 30px;
}

.navbar-nav > li > a.active:hover,
.navbar-nav > li > a.active:active {
    color:#fff;
}

.navbar-nav.navbar-login > li > a {
    text-transform: uppercase;
}

.navbar-nav.navbar-login > li > a:after {
    content:'';
    display: block;
    width:100%;
    height:2px;
    background:#fff;
}

.navbar-nav.navbar-login > li > a:hover:after {
    background:#333;
}

/*  BUTTONS */

.btn {
    border: 0 none;
    box-shadow: none;
    text-shadow: none;
    font-family: 'Circular Std';
    font-weight: bold;
    font-style: normal;
}

.btn-default {
    background: none;
    color: #3c3e55;
    border-color: #3c3e55;
    border-width: 2px;
    border-style: solid;

}


.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    background: #3c3e55 !important;
    color: #fff !important;
    border-color: #3c3e55 !important;
}

.btn-primary {
    background: none;
    color: #caf2fb;
    text-transform: uppercase;
    border-color: #caf2fb;
    border-width: 2px;
    border-style: solid;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: #fff !important;
    color: #3c3e55 !important;
    border-color: #fff !important;
}



.btn-lg {
    border-radius: 30px;
    padding: 15px 35px;
    font-size: 14px;
}

/*  TYPOGRAPHY */

h1,h2,h3 {
    font-family: 'Circular Std Book';
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-transform: uppercase;
    font-size: 28px;
    margin-top:0;
}

p {

}

.intro {
    font-family: 'Circular Std';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height:1.4em;
    margin-bottom: 40px;
    max-width:900px;
}


/*  HOME */

.lock-up {
    max-width:390px;
    margin:10px auto 60px;

}

.lock-up img {
    max-width:100%;
}

.avatar-item {
    padding:0 20px;
    margin-top:40px;
    text-align: center;

}

.avatar-item .media{
    margin-bottom: 40px;
}

.avatar-item .media img {
    max-width: 100%;
    max-height:300px;
    display: inline-block;

}

/*  DASHBOARD */

.dashboard-main {
    background: #fafeff;
    color:#3c3e55;
    border-radius: 10px;
}

.dashboard-heading {
    border-bottom:1px solid #e4e4e4;
    text-align: center;
    padding:20px;
}

.dashboard-heading h1,
.leaderboard-header h1 {
    text-transform: none;
    font-family: 'Circular Std';
    font-size: 24px;
    color:#3c3e55;
}

.leaderboard-header h1{
    margin-top:30px;
    margin-bottom:30px;
}

.dashboard-section {
    text-align: center;
    padding:35px 0 10px 0;
    border-bottom:1px solid #e4e4e4;
}

.dashboard-section:last-child {
    border-bottom: 0 none;
}

.dashboard-section-heading {
    margin-bottom: 40px;
}

.dashboard-section-heading h2 {
    color: #1695a3;
    margin:0 auto;
    font-family: 'Circular Std';
    max-width: 400px;
    font-size: 24px;

}

.dashboard-section-heading p {
    margin:0;
    text-transform: uppercase;
    font-family: 'Circular Std';
}

.dashboard-course {
    position: relative;
    margin-bottom: 50px;
}

.dashboard-course .c-icon {
    background: #3c3e55;
    display: inline-block;
    height: 116px;
    width: 116px;
    border-radius: 116px;
    margin-bottom: 20px;


}

.dashboard-course .c-icon img {
    max-width: 46px;
    margin-top: 21px;
}

.dashboard-course-locked:after {
    content: "";
    position:absolute;
    top:0;
    right:-4px;
    left:-4px;
    bottom: 0;
    background: #fff;
    opacity: 0.8;
}

.dashboard-course-locked .c-icon img {
    margin-top: 33px;
}

.section-xp {
    border-radius: 10px;
    background:#1695a3;
    text-align: center;
    padding:20px 10px 30px;
    margin-bottom: 30px;
}

.section-xp h2{
    color: #f8fbfc;
    margin:0 auto;
    font-family: 'Circular Std';
    font-size: 24px;
}

.section-xp .media {
    margin:26px 0 22px;
}
.section-xp .media img {
    max-height: 63px;
}

.section-xp .lvl-heading {
    display: block;
    text-transform: uppercase;
}

.section-xp .lvl {
    font-family: 'Circular Std';
    font-size: 24px;
    color:#3c3e55;
}

.section-srank {
    border-radius: 10px;
    background:#f9fcfd;
    text-align: center;
    padding:20px 10px 40px;
    color:#3c3e55;
}

.section-srank h2 {
    font-family: 'Circular Std';
    font-size: 24px;
}

.section-srank  .rank {
    font-family: 'Circular Std Book';
    font-size: 80px;
    display: block;

}

.section-srank  .rank-of {
    text-transform: uppercase;
    font-family: 'Circular Std Black';
}

.page-heading {
    margin-bottom: 40px;
    margin-top:30px;
}

.page-heading img {
    width:100px;
    margin-bottom:30px;
}

.page-heading h1 {
    color:#3c3e55;
    font-family: 'Circular Std Book';
    text-transform: none;
    font-size: 35px;
}


.btn-link,
.btn-link:active,
.btn-link:focus {
    font-family: 'Circular Std Black';
    color:#fff;
    text-transform: uppercase;
    text-decoration: underline;
}

.btn-link:hover {
    color:#ccc;
}

.gallery img {
    max-width: 100%;
    max-height: 90%;
}

.leader-table table {width: 100%;}