<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="icon" href="/images/icon32.png" type="image/x-icon" />
    <!--<link rel="apple-touch-icon" href="touch-icon-iphone.png">-->
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icon76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icon120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icon152.png">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet" />
    <link href="/stylesheets/sticknstones.css" rel="stylesheet" />
	<link href="/stylesheets/nathalia.css" rel="stylesheet" />
    <link href="/stylesheets/stars.css" rel="stylesheet" />

    <script src="/javascripts/jquery-2.2.4.min.js"></script>

  </head>

  <body class="<%= page_classes %>">



    <div class="wrapper">

      <%= partial("partials/global/header") %>


      <div id="stars"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>

      <div id="main" class="container">
        <%= yield %>
      </div>
    </div>

    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/stayStandalone.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
