<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <% data.nav.primary.each do |page| %>
                    <li>
                    <% if page.path == ('/' + current_page.path) %>
                        <a class="active" href="<%= page.path %>"><%= page.title %></a>
                    <% else %>
                        <a href="<%= page.path %>"><%= page.title %></a>
                    <% end %>
                   </li>
                <% end %>
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-login">
                <li>
                    <% if !/dashboard/.match(current_page.path).nil? or !/leaderboard/.match(current_page.path).nil? %>
                    <a href="/index.html">Logout</a>
                    <% else %>
                    <a href="/dashboard.html">Login</a>
                    <% end %>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>