<section class="dashboard-section">

    <div class="dashboard-section-heading">
        <h2><%= locals[:name] %></h2>
        <p><%= locals[:stage] %></p>
    </div>


    <%if !locals[:items].nil? %>
    <div class="row">
            <div class="col-xs-1">&nbsp;</div>
            <div class="col-xs-10">
            <div class="row dashboard-section-courses">
                <% locals[:items].each do |item| %>
                    <div class="col-xs-6">
                        <div class="dashboard-course <% if item[:locked] == true %>dashboard-course-locked<% end %>">
                            <div>
                                <div class="c-icon">
                                    <% if item[:locked] == true %>
                                        <img src="/images/key.png" />
                                    <% else %>
                                        <img src="/images/lock.png" />
                                    <% end %>
                                </div>
                            </div>
                            <div>
                                <a href="/scenario.html" class="btn btn-lg btn-default"><%= item[:name] %></a>
                            </div>

                        </div>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="col-xs-1">&nbsp;</div>

    </div>
    <% end %>


</section>