<section class="section-xp">

    <h2>Your experience</h2>
    <div class="media">
        <img src="/images/trophy.png" />
    </div>
    <span class="lvl-heading">Level</span>
    <span class="lvl">Speak Easy!</span>

</section>