---
title: "Sticks & Stones - Dashboard"
---

<div class="row">
    <div class="col-xs-12">
        <div class="page-heading text-middle">
            <img src="/images/avatar.png" />
            <h1>Hi Talinoo</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-8">
        <div class="dashboard-main">

            <div class="dashboard-heading">
                <h1>Explore scenarios</h1>
            </div>

            <% data.scenarios.categories.each do |category| %>
                <%= partial("partials/dashboard/scenarioTile", :locals => category) %>
            <% end %>
        </div>
    </div>

    <div class="col-xs-4">

        <%= partial("partials/dashboard/userRankTile") %>

        <%= partial("partials/dashboard/schoolRankTile") %>

    </div>


</div>


<script>

    var $nav = $('.navbar-default');

    document.addEventListener("touchmove", ScrollStart, false);
    document.addEventListener("scroll", Scroll, false);

    function ScrollStart() {
        //start of scroll event for iOS
        $nav.addClass('fill');
    }

    function Scroll() {
        //end of scroll event for iOS
        //and
        //start/end of scroll event for other browsers

        if($(window).scrollTop() > 50) {
            $nav.addClass('fill');
        }
        else {
            $nav.removeClass('fill');
        }
    }


//    $(document).scroll(function(){
//
//
//
//        //console.log();
//    })

</script>