---
title: Sticks & Stones
---

<div class="aligner">
    <div class="aligner-item--fixed">

        <div class="row">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6 text-middle">
                <h1>Welcome to</h1>
                <div class="lock-up">
                    <img src="/images/logo-large.png" alt="Sticks and Stones"  />
                </div>
                <p class="intro">Here, you can go on a journey with a friendly extraterrestrial who is visiting Planet Earth for the first time to observe the ways in which we speak to one another.</p>
                <p class="intro">Our friends from outer space can help you learn about the impact of your own words!</p>
                <p><a class="btn btn-primary btn-lg" href="/start/avatar.html">Get Started</a></p>
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div>
    </div>
</div>