---
title: "Sticks & Stones - Leaderboard"
---

        <div class="row" style="margin-top:60px;">
            <!-- <div class="col-xs-1">&nbsp;</div> -->
            <div class="col-xs-12">

            <div class="text-middle leaderboard-header">
                <h1>National Leaderboard</h1>
            </div>

            <div class="leader-table">
                <table class="table-striped">
                    <tr>
                        <th>School</th>
                        <th style="text-align: center;">Overall rank</th>
                        <th style="text-align: center;">State rank</th>
                        <th style="text-align: center;">Region rank</th>
                    </tr>

                    <% data.leaderboardData.schoolsData.each_with_index do |sch, index| %>
                    <tr>
                        <td><%= sch.name %></td>
                        <td style="text-align: center;"><%= sch.overallRank %></td>
                        <td style="text-align: center;"><%= sch.stateRank %></td>
                        <td style="text-align: center;"><%= sch.regionRank %></td>
                    </tr>
                    <% end %>

                </table>
            </div>
        </div>
    </div>
    <!-- <div class="col-xs-1">&nbsp;</div> -->



        <script>

            var $nav = $('.navbar-default');

            document.addEventListener("touchmove", ScrollStart, false);
            document.addEventListener("scroll", Scroll, false);

            function ScrollStart() {
                //start of scroll event for iOS
                $nav.addClass('fill');
            }

            function Scroll() {
                //end of scroll event for iOS
                //and
                //start/end of scroll event for other browsers

                if($(window).scrollTop() > 50) {
                    $nav.addClass('fill');
                }
                else {
                    $nav.removeClass('fill');
                }
            }


            //    $(document).scroll(function(){
            //
            //
            //
            //        //console.log();
            //    })

        </script>