---
title: "Sticks & Stones - Throw like a girl"
---

<div class="aligner">
    <div class="aligner-item--fixed" style="width: 100%;">

        <div class="row">
            <div class="col-sm-12">

                <ul id="images" class="gallery">
                <% data.scenarios.categories[0].items[0].images.each_with_index do |myimg, index| %>
                    <li style="display:none">
                        <img src="<%= myimg %>">
                    </li>
                <% end %>
                </ul>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 clearfix">
                <a href="#" id="next" class="pull-right btn-link">Next</a>
                <a href="/dashboard.html" id="complete" class="pull-right btn-link" style="display:none">Complete</a>
                <a href="#" id="prev" class="btn-link" style="display:none">Prev</a>
            </div>
        </div>

    </div>
</div>

<script>
    var imgList = [
        <% data.scenarios.categories[0].items[0].images.each do |myimg| %>
        { name: "<%= myimg %>"},
        <% end %>
    ];

    var activeIndex = 0;

    // On the first element: Show the first image, hide Prev
    if (activeIndex == 0){
        $("#images > li").eq(0).show();
        $("#prev").hide();
        $("#next").text('Begin');
    }


    // Next button functionality
    $('#next').on('click', function(){

        $("#next").text('Next');

        // Show Prev, hide current image, show next
        $("#prev").show();

        $("#images > li").eq(activeIndex).fadeOut(400, function() {
            $("#images > li").eq(activeIndex + 1).fadeIn(400);

            // Hide Next on the last element
            if (activeIndex == imgList.length-2){
                $("#next").hide();
                $("#complete").show();
            }

            if (activeIndex < imgList.length-1){
                activeIndex++;
            }
        });
    });


    // Next button functionality
    $('#prev').on('click', function(){


        $("#images > li").eq(activeIndex).fadeOut(400, function() {
            $("#images > li").eq(activeIndex - 1).fadeIn(400);

            // Hide Next on the last element
            if (activeIndex-1 == 0){
                $("#prev").hide();
                $("#next").text('Begin');
            }

            if (activeIndex > 0) {
                activeIndex--;
            }
        });
    });

</script>
